.to-top {
  background: $main-color;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $light-color;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.to-top:hover {
  background-color: darken($main-color, 10%);
}

.to-top.active {
  bottom: 2.5rem;
  pointer-events: auto;
  opacity: 1;
}
