.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

%btn-config {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn {
  &-header {
    @extend %btn-config;
    background-color: $main-color;
    color: $light-color;
    margin-top: 1.5rem;
  }
  &-about {
    @extend %btn-config;
    background-color: $main-color;
    color: $light-color;
    margin-top: 4rem;
  }
  &-portfolio {
    @extend %btn-config;
    background-color: $main-color;
    color: $light-color;
    margin-top: 1rem;
  }
  &-form {
    @extend %btn-config;
    margin-top: 1rem;
  }
}

.text-color {
  color: $main-color;
}
