// Variables
$website-width: 1280px;
$main-color: #dc143c;
$dark-color: #111;
$lighter-dark-color: #222;
$light-color: #fff;
$github-color: #4078c0;
$facebook-color: #3b5998;
$linkedin-color: #04669a;
$font-stack: "Ubuntu", sans-serif;
$bg-image: url("/img/bg-image.jpg");
